:root{
    box-sizing: border-box;
}

*,*::before,*::after{
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

body{
  display: flex;
  flex-direction: column;
  align-items: center;
}

#board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-gap: 5px;
  }
  .cell {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightgray;
    cursor: pointer;
    font-size: 2rem;
    font-weight: bold;
  }

#statuscontainer{
  display: flex;
  flex-direction: row;
}

.playerStatus{
  display: flex;
  flex-direction: row;
}

.hidden {
  display: none;
}


#gamebuttons{
  display:flex;
  flex-direction: row;
  
}

#playerbutton{
  display: flex;
  flex-direction: row;
}